<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @animal.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Morph:</strong>
  <%= @animal.morph %>
</p>

<p>
  <strong>P date:</strong>
  <%= @animal.p_date %>
</p>

<p>
  <strong>H date:</strong>
  <%= @animal.h_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @animal.user %>
</p>

<% if @animal.images.attached? %>
<% @animal.images.each do |image| %>
<%= image_tag(image) %>
<%= link_to 'Remove', animal_delete_image_attachment_url(image.blob_id, @animal.id),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               
<% end %>
<% else %>
no
<% end %>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
