<p id="notice"><%= notice %></p>

<p>
  <strong>Fed:</strong>
  <%= @log.fed %>
</p>

<p>
  <strong>Defecation:</strong>
  <%= @log.defecation %>
</p>

<p>
  <strong>Cleaned:</strong>
  <%= @log.cleaned %>
</p>

<p>
  <strong>Length:</strong>
  <%= @log.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @log.weight %>
</p>

<p>
  <strong>Shed:</strong>
  <%= @log.shed %>
</p>

<p>
  <strong>Fed:</strong>
  <%= @log.fed %>
</p>

<p>
  <strong>Prey item:</strong>
  <%= @log.prey_item %>
</p>

<p>
  <strong>Refused:</strong>
  <%= @log.refused %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
